{% from 'templates.html' import single_field %}
{% extends 'users/form-layout.html' %}
{% block full_block %}
<main class="form-signin w-100 m-auto bg-dark rounded-3">
  <form method="POST">
    {{ form.hidden_tag() }}
    <a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='images/WebWaymark-white.png') }}" width="225" height="45" class="mb-4"></a>
    <h1 class="h3 mb-3 fw-normal text-light">{{ title }}</h1>
    <div class="form-floating mb-2">
      {{ single_field(form.password, placeholder=form.password.label.text) }}
      <label for="floatingInput">{{form.password.label.text}}</label>
    </div>
    <div class="form-floating mb-2">
      {{ single_field(form.confirm_password, placeholder=form.confirm_password.label.text) }}
      <label for="floatingInput">{{form.confirm_password.label.text}}</label>
    </div>
    {{ form.submit(class="w-100 btn btn-lg rounded-3 btn-info text-dark mb-3") }}
  </form>
</main>
{% endblock full_block %}